.container-fluid {
  margin: 0 auto;
}

.Planets {
  background-image: url(../src/img/planets.jpg);
  background-size: cover;
  background-position: center 46%;
  padding: 4em;
  border-radius: 6px;
  list-style-type: none;
}

.Spaceships {
  background-color: red;
}

.Vehicles {
  background-color: green;
}

.People {
  background-color: yellow;
}

.Films {
  background-color: purple;
}

.Species {
  background-color: cyan;
}

.logo {
  max-width: 100px;
  padding: 0.5em;
}